.menuPomodoro {
  display: flex;
  gap: 2.5rem;
  padding-top: 3.2rem;
}

.menuPomodoroItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--primary);
  color: var(--text-default);
  padding: 1rem;
  border-radius: 0.8rem;
}
