.glass-panel {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Preto translúcido (melhor que só "black") */
  padding: 2rem 4rem;
  border-radius: 1.6rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); /* Corrigido aqui! */
  width: 60%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 2rem auto; /* Centraliza na tela */
}
