.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.logo h1 {
  font-size: 4.5rem;
  text-shadow: 10px 10px 20px rgba(178, 88, 4, 0.941);
  color: var(--text-primary); /* Dourado para "Chronos" */
  font-style: italic;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.05em;
  transition: all 0.3s ease-in-out;
}

.logo svg {
  color: var(--text-primary); /* Dourado para "Chronos" */
  transition: all 0.5s ease-in-out;
}

.logo svg:hover {
  transform: rotate(180deg);
  color: #ffa500; /* Laranja ao passar o mouse */
}

.logo h1:hover {
  text-shadow: 30px 2px 30px rgba(178, 88, 4, 1);
}
